{% extends "security/layout.html" %}

{% block content %}
  <div class="page-header text-center">
    <h1>Login</h1>
  </div>
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 jumbotron text-center">
    <form class="form-horizontal" method="POST">
      {{ login_user_form.hidden_tag() }}

      <div class="form-group">
        {{ login_user_form.email(class='form-control', placeholder='Email') }}
      </div>

      <div class="form-group">
        {{ login_user_form.password(class='form-control', placeholder='Password') }}
      </div>

      <div class="form-group">
        {{ login_user_form.remember.label(class="control-label") }}
        {{ login_user_form.remember(class='form-control') }}
      </div>

      <div class="form-group">
        {{ login_user_form.submit(class='form-control btn btn-primary col-xs-12') }}
      </div>
    </form>
  </div>
{% endblock %}
