{% extends 'base.html' %}

{% block layout %}
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ settings.blog_name }}</a>
      </div>

      <div class="collapse navbar-collapse" id="collapse-nav">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('main.index') }}">Home</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
          {% elif settings.show_login_link %}
            <li><a href="{{ url_for('security.login') }}">Log in</a></li>
          {% endif %}
        </ul>

        <form class="navbar-form navbar-right" action="{{ url_for('main.search') }}" method="POST" role="search">
          <div class="input-group">
            {{ g.search_form.hidden_tag() }}
            {{ g.search_form.search_field(class='form-control', placeholder='Search') }}
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    {% include 'flashed_messages.html' %}
    <div class="row">
      <div class="col-md-9">
        {% block content %}{% endblock %}
      </div>

      <div class="col-md-3">
        <div class="page-header">
          <h2>Tags</h2>
        </div>

        <ul class="tags">
          {% for tag in tags %}
            <li>
              <span class="label label-primary">
                <a href="{{ url_for('main.show_tag', id=tag.id, slug=tag.slug) }}">{{ tag.name }}</a>
              </span>

              <span class="label label-default">{{ tag.posts.count() }} posts</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
