.navbar {
    border-radius: 0;
    border: none;
}

.post-byline {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.post-title a, .post-title a:hover, .icon:hover {
    color: #0f0f0f;
    text-decoration: none;
}

.icon {
    color: #3c3c3c;
}

.label a, .label a:hover {
    color: white;
    text-decoration: none;
}

.new-post-btn {
    margin-bottom: 20px;
}

.tags {
    padding: 0;
    list-style: none;
}

.tags .label-default {
    margin-left: 2px;
}
