.navbar {
    border-radius: 0;
    border: none;
}

.post-byline {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.post-title a, a:hover {
    color: #0f0f0f;
    text-decoration: none;
}
