{% macro render_generic_field(field, with_label=False) %}
  {% if field.widget.input_type != 'hidden' %}
    <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
        {% if with_label %}
          {{ field.label(class='control-label') }}
          {{ field(class='form-control', **kwargs) }}
        {% else %}
          {{ field(class='form-control', placeholder=field.label.text, **kwargs) }}
        {% endif %}

        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ error }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_pagination_buttons(pagination_object) %}
  <div class="pull-left">
    {% if pagination_object.has_prev %}
      {% do request.view_args.update({'page': pagination_object.prev_num}) %}
      <a class="btn btn-primary paginate-btn" href="{{ url_for(request.endpoint, **request.view_args) }}"><< Previous</a>
    {% else %}
      <a class="btn btn-default paginate-btn" href="#"><< Previous</a>
    {% endif %}
  </div>

  <div class="pull-right">
    {% if pagination_object.has_next %}
      {% do request.view_args.update({'page': pagination_object.next_num}) %}
      <a class="btn btn-primary paginate-btn" href="{{ url_for(request.endpoint, **request.view_args) }}">Next >></a>
    {% else %}
      <a class="btn btn-default paginate-btn" href="#">Next >></a>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_post(post, with_long_text=True, preview=False) %}
  <div class="post">
    <h1 class="post-title">
      {% if preview %}
        {{ post.title }}
      {% else %}
        <a href="{{ url_for('main.show_post', id=post.id, slug=post.slug) }}">{{ post.title }}</a>
      {% endif %}
    </h1>
    <p class="post-byline">
      Posted by

      {% if preview %}
        <a href="#">{{ current_user.name }}</a>
      {% elif not post.author %}
        <a href="#">[Deleted Account]</a>
      {% else %}
        <a href="{{ url_for('main.show_user', id=post.author.id, slug=post.author.slug) }}">{{ post.author.name }}</a>
      {% endif %}

      on {{ moment(post.timestamp).format('LLL') }}
      {% if post.tags.all() %}
        under
        {% for tag in post.tags.all() %}
          {% if tag.id %}
            <span class="label label-primary"><a href="{{ url_for('main.show_tag', id=tag.id, slug=tag.slug) }}">{{ tag.name }}</a></span>
          {% else %}
            <span class="label label-primary"><a href="#">{{ tag.name }}</a></span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <p>{{ post.short_text|markdown }}</p>

    {% if with_long_text %}
      <p>{{ post.long_text|markdown }}</p>
    {% endif %}
  </div>
{% endmacro %}
